
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <p><%= status.body %></p>
      <p><small><%= status.creator.username %></small></p>
      <p><small><quiet><%= status.updated_at %></quiet></small></p>
    </div>
  </div>
</div>
